SSH_KEY_PATH="${HOME}/.ssh/platform-template-builder_ed25519"
SSH_KEY_COMMENT="platform-template-builder pve-template-builder"

SSH_HOST="192.168.1.10"
SSH_USER="root"
SSH_ALIAS="pve-template-builder"
SSH_TEST_COMMAND="hostname && test -d /etc/pve"
