TEMPLATE_NAME="rocky-10.1-cloud-base"
TEMPLATE_VMID="9003"

IMAGE_PROFILE="configs/images/rocky-10.1.env"

PROXMOX_HOST="pve-template-builder"
PROXMOX_REMOTE_DIR="/root/platform-template-builder"

DISK_STORAGE="local-lvm"
CLOUDINIT_STORAGE="local-lvm"
BRIDGE="vmbr0"

CPU_CORES="2"
CPU_TYPE="host"
MEMORY_MB="2048"

BIOS_TYPE="seabios"
MACHINE_TYPE="q35"
DISK_BUS="scsi"
SCSI_CONTROLLER="virtio-scsi-pci"
TEMPLATE_CONSOLE_MODE="vga-serial"

ENABLE_QEMU_AGENT="true"
PREPARE_GUEST_IMAGE="true"
GUEST_PREP_MODE="safe"
GUEST_PREP_TIMEOUT_SECONDS="1800"

FORCE_RECREATE="false"
